*.log
#*.sql

wp-config.php
webroot/wp-content/advanced-cache.php
webroot/wp-content/backup-db/
webroot/wp-content/backups/
webroot/wp-content/blogs.dir/
webroot/wp-content/cache/
webroot/wp-content/upgrade/
webroot/wp-content/uploads/**/
webroot/wp-content/wp-cache-config.php
webroot/Search-Replace-DB

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

#environment file
.DS_Store
.idea
.idea/*
.vagrant
.vagrant/*

#storm
.idea
